<h2><%= link_to product.name, product %></h2>
<p>
  <strong>Image: </strong>
  <%if product.image.present? %>
  <%= image_tag product.image.thumb %>
  <%end%>
</p>
<strong>Price: </strong>
<%= product.product_price %>
<p>
  <strong>Description: </strong>
  <%= product.description %>
</p>